@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "slick-carousel/slick/slick.css";

@font-face {
  font-family: 'Breaked';
  src: url('/assets/fonts/AllertaStencil-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewBold';
  src: url('/assets/fonts/BricolageGrotesque_36pt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New';
  src: url('/assets/fonts/BricolageGrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Art';
  src: url('/assets/fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Expanded';
  src: url('/assets/fonts/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arabic';
  src: url('/assets/fonts/Gulzar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urdu';
  src: url('/assets/fonts/NotoNastaliqUrdu-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Joy';
  src: url('/assets/fonts/Playball-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#divider {
  text-align: center;
  height: 2px;
  background: linear-gradient(90deg,
      transparent 0%,
      hsl(0, 100%, 50%, 0.5) 10%,
      hsla(34, 100%, 50%, 0.5) 25%,
      hsla(120, 100%, 50%, 0.5) 40%,
      hsl(180, 100%, 50%, 0.5) 55%,
      hsl(240, 100%, 50%, 0.5) 70%,
      hsl(300, 100%, 50%, 0.5) 85%,
      transparent 100%);
}

.slick-dots li {
  display: inline-flex;
  padding: 1;
  width: auto;
}

.slick-dots li:not(:last-child) {
  margin-right: 10px; /* Add margin for spacing between items */
}

.border-gradient {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background-image: linear-gradient(135deg, #DC143C, #8B0000, #DC143C);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: gradientSwitch 2s linear infinite;
}

@keyframes gradientSwitch {
  0% {
    background-size: 100% 100%, 0% 100%;
    background-position: 0 0, 100% 0;
  }
  25% {
    background-size: 100% contain, 100% 0%;
    background-position: 0 0, 0% 0;
    background-blend-mode: luminosity;
  }
  50% {
    background-size:  contain cover, 0% 100%;
    background-position: 100% 0, 0 0;
    background-blend-mode:multiply;
  }
  75% {
    background-size: 100% 0%, 100% 100%;
    background-position: 0 100%, 0% 0;
  }
  100% {
    background-size: 100% 100%, 0% 100%;
    background-position: 0 0, 100% 0;
  }
}
